# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/

# pdf generation temp
.tmp/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
/dev.db
/dev.db*
/prisma/dev.db
/prisma/dev.db-journal

/public/uploads/payment-proofs/*
!/public/uploads/payment-proofs/.gitkeep
/public/uploads/gallery/*
!/public/uploads/gallery/.gitkeep
/public/uploads/achievements/*
!/public/uploads/achievements/.gitkeep
/public/uploads/profile-images/*
!/public/uploads/profile-images/.gitkeep
/public/uploads/vly-membership-photos/*
!/public/uploads/vly-membership-photos/.gitkeep
/public/uploads/coach-invoices/*
!/public/uploads/coach-invoices/.gitkeep
/public/uploads/trial-session-proofs/*
!/public/uploads/trial-session-proofs/.gitkeep
/public/uploads/kit-order-proofs/*
!/public/uploads/kit-order-proofs/.gitkeep
/public/uploads/admin-docs/*
!/public/uploads/admin-docs/.gitkeep
/public/uploads/tournament-winners/*
!/public/uploads/tournament-winners/.gitkeep
.env.production
